<div class="row mt-5 mb-5">
    <div class="col">
      <h3>DIRECTO A</h3>
    </div>
  </div>

  <div class="row justify-content-around text-center mb-5">
    <div class="col-2 border">
      <div class="row p-2">
        <i class="fa-solid fa-graduation-cap"></i>
        <h5>Estudiar</h5>
        <hr>
        <ul>
          <li>Opcion 1</li>
          <li>Opcion 2</li>
          <li>Opcion 2</li>
        </ul>
      </div>
    </div>

    <div class="col-2 border">
      <div class="row p-2">
        <i class="fa-solid fa-briefcase"></i>
        <h5>Trabajar</h5>
        <hr>
        <ul>
          <li>Opcion 1</li>
          <li>Opcion 2</li>
          <li>Opcion 2</li>
        </ul>
      </div>
    </div>

    <div class="col-2 border">
      <div class="row p-2">
        <i class="fa-solid fa-heart-pulse"></i>
        <h5>Tu salud</h5>
        <hr>
        <ul>
          <li>Opcion 1</li>
          <li>Opcion 2</li>
          <li>Opcion 2</li>
        </ul>
      </div>
    </div>

    <div class="col-2 border">
      <div class="row p-2">
        <i class="fa-solid fa-house"></i>
        <h5>Vivienda y consumo</h5>
        <hr>
        <ul>
          <li>Opcion 1</li>
          <li>Opcion 2</li>
          <li>Opcion 2</li>
        </ul>
      </div>
    </div>

  </div>


